.section-content {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding: 50px;
}
.section.service-banner {
  margin-top: 80px;
}
.section .section.small {
  min-height: 25vh;
}
.section.medium {
  min-height: 50vh;
}
.section.large {
  min-height: 100vh;
}
.section.center .section-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section.fill-bg {
  background-color: var(--primary-blue-color);
}
.section h3 {
  font-family: "JetsBrain";
  font-weight: 500;
  margin: 0px;
  color: var(--primary-blue-color);
}
.section.fill-bg h3 {
  color: var(--secondary-color);
}
.section-title {
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-family: "JetsBrain";
  font-size: 28px;
  font-weight: 500;
  color: var(--primary-blue-color);
}
.fullscreen {
  max-width: 100%;
  width: 100%;
  padding: 0px !important;
  margin: 50px 0px;
}

@media only screen and (max-width: 875px) {
  .section-content {
    padding: 50px 20px;
  }
}

@media only screen and (max-width: 603px) {
  .section-content.fullscreen {
    padding: 0px !important;
  }
}
