/*============================================*
  Header
 *============================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0px 30px;
  background-color: transparent;
  color: #fff;
  z-index: 5;
}
.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
  transition: 0.2s ease-in-out;
}
.header-bg.is-scrolling {
  background-color: var(--primary-blue-color);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav > ul {
  display: flex;
  align-items: center;
  gap: 2.25rem;
  margin: 0px;
  padding: 0px;
}
.header__nav > ul > li {
  list-style: none;
}
.header__nav-link {
  display: inline-block;
  line-height: 80px;
  font-family: "JetsBrain";
  text-decoration: none;
  color: #fff;
}
.header__nav-parent {
  position: relative;
}
.header__nav-parent > .header__nav-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.header__sub-menu {
  position: absolute;
  padding: 0px;
  right: 0px;
  color: var(--primary-blue-color);
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10%);
  transition: 0.3s;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.header__nav-parent:hover .header__sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}
.header__sub-menu > li {
  width: 100%;
  list-style: none;
  cursor: pointer;
  background-color: var(--secondary-color);
  transition: 0.3s;
  border: none;
}
.header__sub-menu > li:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.header__sub-menu > li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.header__sub-menu > li:hover {
  background-color: #e1d9e3;
}
.header__sub-menu > li > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
  text-decoration: none;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.header__sub-menu > li > a > svg {
  font-size: 1.25rem;
}
.web-logo {
  width: auto;
  height: 30px;
}

/*============================================*
  Mobile Menu  
 *============================================*/
.mobile-menu-toggle {
  background-color: transparent;
  color: #fff !important;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--primary-blue-color);
  z-index: 4;
  transition: 0.25s ease-in-out;
}
.mobile-menu.is-toggled {
  right: 0px;
}
.mobile-menu__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  pointer-events: none;
  transition: 0.25s ease-in-out;
}
.mobile-menu__overlay.is-toggled {
  opacity: 0.6;
  visibility: visible;
}
.mobile-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 1rem;
}
.mobile-menu__header .web-logo {
  width: 40px;
  height: 40px;
}
.mobile-menu__header .close-btn {
  color: #fff;
}
.mobile-menu__nav ul {
  margin: 0px;
  padding: 0px;
}
.mobile-menu__nav ul li {
  list-style: none;
  padding: 15px 20px;
}
.mobile-menu__nav-link {
  color: #fff;
  text-decoration: none;
  font-family: "JetsBrain";
  font-weight: 500;
  font-size: 20px;
}
.mobile-menu__nav-service {
  background-color: transparent !important;
  color: #fff;
  padding: 15px 20px !important;
  box-shadow: none !important;
}
.mobile-menu__nav-service::before {
  content: none !important;
}
.mobile-menu__nav-service button {
  padding: 0px !important;
}
.mobile-menu__nav-service button > span {
  margin: 0px;
  font-family: "JetsBrain" !important;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.mobile-menu__service-sub {
  padding: 0px !important;
}
.mobile-menu__service-sub li {
  padding: 15px 0px 15px 30px !important;
}
.mobile-menu__service-sub li:last-child {
  padding-bottom: 0px !important;
}
.mobile-menu__service-sub li a {
  color: #fff;
  text-decoration: none;
}

/*============================================*
  Footer
 *============================================*/
.footer {
  padding: 60px 30px;
  background-color: var(--secondary-color);
}
.footer.contact-us {
  background-color: var(--primary-blue-color);
}
.footer-desc {
  font-size: 14px;
  color: var(--primary-green-color);
  line-height: 1.5rem;
}
.footer .web-logo {
  height: 35px;
}
.footer__upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.footer__upper > div {
  flex: 1;
}
.footer__nav {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  gap: 2.5rem;
}
.footer__nav ul {
  margin: 0px;
  padding: 0px;
}
.footer__nav ul li {
  list-style: none;
  margin-bottom: 0.875rem;
}
.footer__nav ul li:first-child {
  color: var(--primary-blue-color);
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-family: "JetsBrain";
}
.footer.contact-us .footer__nav ul li:first-child {
  color: var(--primary-green-color);
}
.footer__nav-link {
  color: var(--primary-green-color);
  text-decoration: none;
  font-size: 14px;
}
.footer__bottom {
  font-size: 12px;
  font-weight: 500;
  color: var(--primary-blue-color);
}
.footer.contact-us .footer-desc,
.footer.contact-us .footer__nav-link,
.footer.contact-us .footer__bottom {
  color: #fff;
}

/*============================================*
  Media Query
 *============================================*/
@media only screen and (max-width: 876px) {
  .header {
    padding: 20px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer__upper {
    flex-direction: column;
    gap: 1rem;
  }
  .footer__nav {
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 1rem;
  }
  .footer__bottom {
    text-align: center;
  }
}
@media only screen and (max-width: 603px) {
  .web-logo,
  .footer .web-logo {
    height: 30px;
  }
}
