.cta-card {
  background-color: var(--primary-blue-color);
  border-radius: 10px;
  text-align: center;
  height: 100%;
  transition: 0.5s;
}
.cta-card:hover {
  background: var(--primary-blue-color-darker);
}
.cta-card * {
  color: #fff;
}
.cta-card > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 100px 30px;
  text-decoration: none;
}
.cta-card.non-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  aspect-ratio: 1 / 1;
  text-decoration: none;
  background-color: var(--primary-blue-color);
}
.cta-card.non-cta > * {
  margin-bottom: 1rem;
}
.cta-card:hover.non-cta {
  background-color: var(--primary-blue-color);
}
.cta-card__title,
.cta-card__subtitle {
  margin: 0px;
}
.cta-card__title {
  word-spacing: 100vw;
  font-weight: 500;
  font-family: "JetsBrain";
}
.cta-card.non-cta .cta-card__title {
  word-spacing: normal;
}
.cta-card__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: var(--primary-green-color);
}
.cta-card__button {
  background-color: var(--primary-green-color);
  border: none;
  padding: 6px 20px;
  margin-top: 0.5rem;
  border-radius: 30px;
  font-family: "Jetsbrain";
  font-size: 14px;
  cursor: pointer;
}

@media only screen and (max-width: 875px) {
  .cta-card > a {
    padding: 60px 20px;
  }
}
